
{% extends "blog/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{ static '/blog/main.css'}">
</head>

<body>
   <div style="background-color:white;padding:2px;margin-bottom: 20px;">
    <h1 style="margin-left:3%"> About Us</h1> <br>

    <h4 style="padding:5px;">
        “The world isn’t perfect. <br>
        But it’s there for us, doing the best it can. <br>
        And that’s what makes it so damn beautiful.” </h4> <br><br>

    <p style="justify-content: center;padding:10px;">
        Some of the most important lessons I have learned in life are from anime. Animes have made me laugh in the
        toughest of times, made my heart flutter, and made me learn the importance of friends and family and so much
        more. <br><br>

        We here at the IITB Anime Club, have every kind of anime lined up for you anime lovers: action, adventure,
        mystery, comedy, magic, isekai, horror etc. You name it, and we have it. First-time anime watchers are welcome
        here too. We have people here who will recommend you only the finest of animes. <br><br> Our community, in
        short, is top-notch. There are numerous forums where you can have discussions and debates about your favorite
        animes and characters. We conduct quizzes too with lots of exciting prizes. All in all, if you are an anime
        lover, this club will be like a second home to you. New to anime? You just have to reach out and contact us and
        our community will get you started. <br><br>

        YOU WILL LOVE IT HERE! <br><br>

        To know more about us, you can join us on Facebook.

    </p>

    <br><br><br>

    <h6> Our social media handles : </h6>
    <a href="https://www.facebook.com/AnimeCorner.Official/" target="_blank">Facebook</a>
   </div>
</body>

</html>

{% endblock content %}