body {
  background:url("./manga panel.jpg");
  color: #333333;
  margin-top: 5rem;
  scroll-behavior: smooth;
}

 h2, h3, h4, h5, h6 {
  color: #444444;
}
h1{
  color:crimson
}
ul {
  margin: 0;
}

.bg-steel {
  background-color: rgb(192, 16, 51);
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.comment-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.content-section a:hover {
  color: crimson;
  text-decoration: none;
}
.content-section a {
  color: #333;
  text-decoration: none;
}
.updown{
  
}
.gif{
  position: fixed;
  bottom: 0%;
  
  width: 100px;
  height: 100px;
} 

.post-img{
  max-height:  100vh;
  max-width:100%;
}

/* .accordion__button{
  display:block;
  width:100%;
  padding:15px;
  border:none;
  outline:none;
  cursor:pointer;
  background:rgb(165, 0, 0);
  color:white;
  text-align:left;
  /* transition: background 0.2s ; */

/* .accordion__button::after{
  
  float:right;
  translate:scale(1.5);
}
.accordion__button--active{
  background:black;
  
}
.accordion__content{
  
  overflow: hidden;
  max-height:0;
  transition: max-height 0.2s;

} */ 